/**
*Header
**/

#header {
    position: fixed;
    width: 100%;
    z-index: 1010;
    background: #FFF;
    font-size: 14px;
}

#top-menu a {
    color: #323A45;
    text-decoration: none;
}

/** Top menu css **/
#top-menu {
    position: fixed;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
    z-index: 100;
}

#top-menu .logo {
    float: left;
}

#top-menu .logo img {
    height: 50px;
    margin: 7px 0;
}

#top-menu ul, #top-menu li {
    list-style: none;
}

#top-menu ul.nav {
    float: left;
    height: 64px;
    line-height: 64px;
    margin-left: 40px;
}

#top-menu ul.nav > li {
    float: left;
    margin: 0 15px;
    font-weight: 500;
}

#top-menu ul.nav > li.dropdown {
    position: relative;
}

#top-menu ul.nav > li.dropdown:hover ul.menu {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
}

#top-menu ul.nav > li.dropdown ul.menu {
    display: none;
    position: absolute;
    width: 110px;
    border: 1px solid #DDD;
    line-height: normal;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    background: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1001;
}

#top-menu ul.nav > li.dropdown ul.menu:before {
    content: '';
    bottom: auto;
    right: auto;
    top: -5px;
    left: 43px;
    position: absolute;
    width: .6em;
    height: .6em;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 2;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    transition: background .1s linear;
    background-color: #FFF;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

#top-menu ul.nav > li.dropdown ul.menu > li {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    line-height: 25px;
}

#top-menu ul.nav > li.dropdown ul.menu > li:hover {
    background: rgba(0, 0, 0, 0.03);
}

#top-menu ul.nav > li.dropdown ul.menu > li:first-child {
    padding-top: 3px;
}

#top-menu ul.nav > li.dropdown ul.menu > li a {
    display: block;
    padding: 2px 12px;
}

#top-menu ul.nav > li.dropdown ul.menu > li .icon {
    font-size: 0.5rem;
    display: inline-block;
    width: 19px;
    text-align: center;
}

#top-menu .login-zone {
    float: right;
    height: 64px;
    line-height: 64px;
    margin-right: 10px;
}

#top-menu .login-zone .user {
    display: none;
}

#top-menu .login-zone .button:first-child {
    margin-right: 5px;
}

#top-menu .avatar img {
    width: 40px;
    height: 40px;
    margin-right: .5em;
    vertical-align: middle;
    border-radius: 20px;
}

#top-menu .hide {
    display: none;
}

#top-menu .button {
    display: inline-block;
    padding: 0 2em;
    text-transform: none;
    line-height: 2em;
    background-image: none;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
    border: 1px solid #323A45;
    outline: 0;
    cursor: pointer;
}

#top-menu .button.dark {
    background: #323A45;
    color: #FFF;
}

@media only screen and (max-width: 768px) {

    #top-menu .nav {
        float: left;
        height: 32px;
        line-height: 32px;
        margin-left: 0;
        width: 100%;
        background: #FFFFFF;
        text-align: center;
        border-bottom: 1px solid #DDD;
        display: none;
    }

    #top-menu .login-zone {
        position: absolute;
        right: 0;
        margin-right: 5px;
    }

    #top-menu .logo img {
        height: 40px;
        margin: 11px 0;
    }

    #top-menu .nav li {
        float: initial;
        font-size: 14px;
        margin: 0 15px;
        font-weight: normal;
        display: inline-block;

    }

    #top-menu .button {
        font-size: 12px;
    }

}

/**
*main-container
**/

.main-container {
    padding-top: 64px;
}

/**
*help-container
**/

.help-container {
    max-width: 980px;
    padding: 0 1em;
    margin: 0 auto;
}

.help-container .container-wrapper {
    position: relative;
    padding-top: 20px;
}

.help-container .container-wrapper:before {
    display: inline-block;
    border-left: 1px solid #d8d8d8;
    position: absolute;
    top: 70px;
    left: 250px;
    bottom: 0;
}

.help-banner + .help-container .container-wrapper:before {
    display: none;
}

@media only screen and (max-width: 768px) {

    .help-container {
        padding: 0;
    }

    .help-container .container-wrapper {
        padding-top: 0;
    }

    .help-container .container-wrapper:before {
        display: none;
    }
}

/**
*help-common-problem
*/

.help-common-problem {
    padding-top: 40px;
}

.help-common-problem h1 {
    font-size: 22px;
    font-weight: normal;
    color: #444444;
    line-height: 1.5;
    margin-bottom: 30px;
}

.help-common-problem .tab-box {
}

.help-common-problem .tabs {
    margin-bottom: 20px;
}

.help-common-problem .tabs ul {
    display: block;
}

.help-common-problem .tabs li {
    font-size: 18px;
    float: left;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.help-common-problem .tab-body {
    padding: 30px;
    border: 1px solid #e4e4e4;
    background: #F7F7F7;
    position: relative;
    display: none;
    overflow: visible;
}

.help-common-problem .tab-body:after {
    content: "";
    display: table;
    overflow: auto;
}

.help-common-problem .tab-body:before {
    content: "";
    margin-top: -10px;
    margin-left: -10px;
    bottom: auto;
    right: auto;
    top: 0;
    left: 10%;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #F7F7F7;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.help-common-problem .tab-body.tab-option-1:before {
    left: 10%;
}

.help-common-problem .tab-body.tab-option-2:before {
    left: 30%;
}

.help-common-problem .tab-body.tab-option-3:before {
    left: 50%;
}

.help-common-problem .tab-body.tab-option-4:before {
    left: 70%;
}

.help-common-problem .tab-body.tab-option-5:before {
    left: 90%;
}

.help-common-problem .tab-body.active {
    display: inherit;
}

.help-common-problem .tab-body ul {
    float: left;
    width: 45%;
    margin-right: 10%;
    font-size: 14px;
}

.help-common-problem .tab-body ul:nth-child(2n+2) {
    margin-right: 0;
}

.help-common-problem .tab-body li {
    padding: 10px 0;
    padding-left: 40px;
    color: #616161;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.help-common-problem .tab-body li:hover,
.help-common-problem .tab-body li a:hover {
    color: #333333;
}

.help-common-problem .tab-body li a {
    color: #616161;
}

.help-common-problem .tab-body li i.fa {
    margin-right: 14px;
}

@media only screen and (max-width: 768px) {

    .help-common-problem {
        padding: 0 1em;
        padding-top: 40px;
    }

    .help-common-problem .tabs li {
        font-size: 14px;
    }

    .help-common-problem .tab-body ul {
        float: left;
        width: 100%;
        font-size: 13px;
    }

    .help-common-problem .tab-body li {
        padding-left: 0;
    }
}

/**
*help-banner
*/

.help-banner {
    height: 320px;
    background-color: rgba(255, 246, 233, .3);
    background-image: url(https://dn-coding-net-production-pp.qbox.me/806a1a89-7f5f-49b9-b69b-7727b9c0b03a.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.help-banner .layout-table {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.help-banner .layout-cell {
    display: table-cell;
    vertical-align: middle;
    table-layout: fixed;
}

.help-banner .search {
    max-width: 980px;
    padding: 0 1em;
    margin: 0 auto;
}

.help-banner .search-form,
.help-banner .search-input-box-layout,
.help-banner .search-input-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.help-banner .search input[type=text] {
    padding: 10px 0;
    font-size: 16px;
    outline: none;
    outline: none;
    border: none;
    width: 100%;
}

.help-banner .search-label {
    display: table-cell;
    width: 120px;
    vertical-align: middle;
    text-align: left;
    font-size: 22px;
    color: #666;
    font-weight: bold;
}

.help-banner .search-icon {
    display: table-cell;
    width: 40px;
    margin: 0 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    color: #b1b1b1;
}

.help-banner .search-input-box {
    width: 100%;
    float: right;
}

.help-banner .search-input {
    background: #FFF;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, .05);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.help-banner .search .search-button {
    display: table-cell;
    width: 80px;
    background-color: #333333;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, .05);
    cursor: pointer;
}

.help-banner .search .search-button:hover {
    background-color: #000000;
}

@media only screen and (max-width: 768px) {

    .help-banner .search-label {
        display: block;
        width: inherit;
        vertical-align: middle;
        text-align: center;
        font-size: 22px;
        color: #444;
        margin-bottom: 20px;
    }

    .help-banner .search .search-button {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .help-banner .search-input-box-layout {
        display: block;
        width: initial;
    }

    .help-banner .search-input,
    .help-banner .search-input input[type=text] {
        border-radius: 5px;
    }
}

/**
*help-navigation
*/

.help-navigation {
    padding: 60px 0;
}

.help-navigation .help-nav {
    width: 45%;
    float: left;
    margin-right: 10%;
    margin-bottom: 60px;
}

.help-navigation .help-nav:nth-child(2n+2) {
    margin-right: 0;
}

.help-navigation .icon-box {
    width: 80px;
    float: left;
    text-align: center;
}

.help-navigation .icon-label {
    font-size: 36px;
    color: #4b4b4b;
    border-radius: 50%;
    border: 1px solid #4B4B4B;
    display: inline-block;
    width: 78px;
    height: 78px;
    text-align: center;
    line-height: 78px;
}

.help-navigation .help-nav:hover .icon-label {
    color: #FFF;
    background: #333333;
}

.help-navigation .nav-title {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #444444;
    padding: 10px 0;
}

.help-navigation .feature-box {
    padding-left: 120px;
    font-size: 14px;
}

.help-navigation .feature-box ul:after {
    display: table;
    content: "";
}

.help-navigation .feature-box li {
    float: left;
    width: 50%;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.help-navigation .feature-box li a {
    color: #444444;
}

.help-navigation .feature-box li i.fa {
    margin-right: 12px;
}

.help-navigation .more {
    padding: 8px 0;
}

.help-navigation .more a {
    color: #979797;
    border: 1px solid #B0B0B0;
    padding: 3px 15px;
    border-radius: 3px;
    font-size: 12px;
}

.help-navigation .more a i.fa {
    margin-left: 12px;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {

    .help-navigation {
        padding: 60px 1em;
    }

    .help-navigation .icon-label {
        font-size: 30px;
        color: #4b4b4b;
        border-radius: 50%;
        border: 1px solid #4B4B4B;
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        line-height: 64px;
    }

    .help-navigation .help-nav {
        width: 100%;
        float: left;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .help-navigation .feature-box {
        padding-left: 100px;
        font-size: 12px;
    }
}

/**
*sidebar-menu
*/

.help-sidebar {
    width: 250px;
    float: left;
}

.sidebar-title {
    border-bottom: 2px solid #d8d8d8;
    border-right: 1px solid #fff;
    padding: 10px 0 10px 30px;
    line-height: 28px;
}

.sidebar-title a {
    color: #444444;
}

.sidebar-title h3 {
    font-size: 18px;
    font-weight: normal;
}

.sidebar-title h3 i.fa {
    display: none;
}

.help-sidebar .sidebar-menu {
    padding: 20px 0;
    font-size: 16px;
    border-top: 1px solid #d8d8d8;
}

.help-sidebar .sidebar-menu.scroll-to-fixed-fixed {
    border-top: 0;
}

.sidebar-menu i.fa {
    margin-right: 10px;
}

.sidebar-menu ul.menu-list {
    padding: 20px 0 20px 30px;
}

.sidebar-menu ul.menu-list li {
    padding: 8px 0;
    color: #444444;
    cursor: pointer;
}

.sidebar-menu li a {
    padding: 5px 10px;
    display: block;
    color: #333333;
    cursor: pointer;
    line-height: 1.5;
}

.sidebar-menu li a.active,
.sidebar-menu li a:hover {
    color: #000000;
    font-weight: bold;
}

.sidebar-menu li i.fa-angle-down {
    display: none;
}

.sidebar-menu li.active i.fa-angle-down {
    display: inline-block;
}

.sidebar-menu li.active i.fa-angle-right {
    display: none;
}

.sidebar-menu li .root a {
    padding: 8px 10px;
}

.sidebar-menu li .root {
    border-bottom: 1px solid #efefef;
}

.sidebar-menu .sub-menu {
    padding: 8px 0;
    font-size: 10pt;
}

.sidebar-menu .sub-menu a {
    border-bottom: none;
    padding-left: 15px;
}

.sidebar-menu .sub-menu .sub-toc {
    padding-left: 30px;
    font-size: 12px;
}

.sidebar-menu .sub-menu .sub-menu {
    padding: 5px 0;
}

.sidebar-menu .sub-menu .sub-menu a {
    padding: 3px 10px;
}

@media only screen and (max-width: 768px) {
    .help-sidebar {
        width: initial;
        float: inherit;
        border-right: none;
        padding: 0 1em;
        background-color: #F8F8F8;
        box-shadow: 1px 3px 1px rgba(241, 242, 243, 0.9);
    }

    .sidebar-title {
        border-bottom: none;
        border-right: none;
        margin-right: -1px;
        padding: 10px 0 10px 0px;
        line-height: 28px;
        font-weight: normal !important;
    }

    .sidebar-menu ul.menu-list li {
        font-size: 14px;
    }

    .help-sidebar .sidebar-menu {
        border-right: none;
    }

    .sidebar-title h3 {
        cursor: pointer;
    }

    .sidebar-title h3 i.fa {
        display: inline-block;
    }

    .sidebar-menu {
        display: none;
    }
}

/***
*help-content
**/
.help-content {
    padding-left: 250px;
}

.help-content .header-search {
    display: table;
    table-layout: fixed;
}

.help-content .content-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #d8d8d8;
    margin-left: 30px;
}

.help-content .header-search input[type=text] {
    width: 100%;
    padding: 6px 0;
    outline: none;
    border: 1px solid #979797;
    font-size: 12px;
    color: #555;
    float: left;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-indent: 15px;
}

.help-content .header-search .s-button {
    background: #333333;
    color: #FFF;
    font-size: 12px;
    width: 1%;
    border-radius: 0;
    display: table-cell;
    width: 60px;
    vertical-align: middle;
    cursor: pointer;
    line-height: initial;
    height: initial;
    text-align: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.help-content .content-body {
    padding-left: 30px;
    overflow-x: hidden;
}

.help-content .content-note {
    font-size: 12px;
    color: #777777;
    padding: 25px 0;
}

.help-content .unfixed {
    padding: 10px 0;
    margin: 30px 0;
    color: #262626;
}

.help-content .unfixed .ask-help {
    padding: 6px 24px;
    font-size: 13px;
    background-color: #5190bd;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {

    .help-content {
        padding-left: 0;
        padding: 0 1em;
    }

    .help-content .content-body {
        padding-left: 0;
    }

    .help-content .content-header {
        margin-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: none;
    }

    .help-content .header-search {
        width: 100%;
    }
}

/**
*document-content
*/
.document-content {
    padding-top: 20px;
    padding-bottom: 10px;
}

.document-content .document-body {
    padding: 0 30px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    margin-top: 30px;
    line-height: 1.8;
}

.document-content .document-header {
    margin-bottom: 15px;
}

.document-content .document-header i.fa {
    margin-right: 14px;
}

.document-content .document-header h3 {
    font-size: 14px;
    color: #444444;
}

.document-content .document-nav {
    font-size: 14px;
}

.help-content .document-nav label {
    font-weight: bold;
}

.help-content .document-nav i.fa {
    margin: 0 8px;
}

@media only screen and (max-width: 768px) {

    .document-content .document-body {
        padding: 1em;
    }
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.footer {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    background: #FFF;
}

#footer .partners {
    text-align: center;
    margin: 0 0 20px 0;
    position: relative;
}

#footer .partners .partner.title {
    font-size: 16px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    background-color: #666;
    color: #FFF;
}

#footer .partners .partner.title > span {
    margin-top: 9px;
    line-height: 20px;
    display: inline-block;
}

#footer .partners .partner {
    display: inline-block;
    margin: 10px 0 0 10px;
}

#footer .partners .partner img {
    /*IE*/
    filter: Gray;
    /*Webkit*/
    -webkit-filter: grayscale(100%);
    /*Firefox*/
    filter: url('/marketing/static/images/home/filters.svg#grayscale');
    height: 40px;
}

#footer .site {
    font-size: 13px;
    color: #999;
    display: inline-block;
}

#footer .site a {
    text-decoration: none;
    color: #999;
}

#footer .site ul li {
    display: inline-block;
    margin-right: 15px;
}

#footer .site p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#footer .share {
    float: right;
    vertical-align: top;
    display: inline-block;
}

#footer .share img.w-icon {
    opacity: 0.5;
}

#footer .share img.w-icon:hover {
    opacity: 1;
}

#footer .share > div {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#footer .share .qrcode {
    /*display: none;*/
    position: absolute;
    top: -255px;
    right: -100px;
    z-index: 900;
    border: 1px solid rgba(0, 0, 0, .1);
    max-width: 250px;
    background-color: #FFF;
    padding: .8em 1.2em;
    font-size: .875rem;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, .7);
    border-radius: .2em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: display ease-in 500ms;
}

#footer .share .qrcode:before {
    position: absolute;
    left: 125px;
    bottom: -5px;
    content: "";
    width: .75em;
    height: .75rem;
    background-image: none;
    background-color: #FFF;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

#footer .partners .partner:hover img {
    filter: none;
    /*Webkit*/
    -webkit-filter: none;
}

@media only screen and (max-width: 1366px) {
    .footer .partners .partner img {
        height: 40px;
    }
}

@media only screen  and (max-width: 1024px) {
    #footer .share {
        float: inherit;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    #footer .site {
        float: inherit;
        display: block;
        text-align: center;
    }
}

.back-to-top {
    position: fixed;
    max-width: 1020px;
    bottom: 10em;
    width: 100%;
    margin-right: -50px;
    display: block;
    pointer-events: none;
}

.back-to-top a {
    float: right;
    pointer-events: visible;
}

@media only screen  and (max-width: 768px) {
    .back-to-top {
        text-align: center;
        bottom: -10em;
        display: none;
    }

    .back-to-top a {
        float: inherit;
    }

}

.footer-nav {
    color: #0c94de;
    margin: 0 !important;
    padding: 30px 0;
    font-size: 12px;
}

.footer-nav .left-nav,
.footer-nav .right-nav {
    margin: 0;
}

.footer-nav .left-nav {
    float: left;
}

.footer-nav .left-nav i.fa {
    color: #0c94de;
    margin-right: 15px;
}

.footer-nav .right-nav {
    float: right;
}

.footer-nav .right-nav i.fa {
    color: #0c94de;
    margin-left: 15px;
}

@media only screen  and (max-width: 768px) {

    .footer-nav .left-nav {
        float: inherit;
    }

    .footer-nav .right-nav {
        float: inherit;
    }

    .footer-nav i.fa {
        display: none;
    }

}

.fork-bar{
        position:fixed;
        bottom:0;
        left:0;
        z-index:999;
        padding:8px 0;
        width:100px;
        background-color:#181a29;
        color:#fff;
        text-align:center;
        transform:translate3d(-28px,-6px,0) rotate(45deg)
}

