.pager {
    margin: 1em 5px;
}

.pager .paging.pagination > li {
    float: left;
}

.pager .paging.pagination > li > a {
    background: #FFF;
    color: #AFC0CA;
    margin-right: 5px;
}

.pager .paging.pagination > li.active > a {
    background: #AFC0CA;
    color: #FFF;
    margin-right: 5px;
}

.pager .paging.pagination > li.active > a, .pager.pagination > li.active > span {
    color: #FFF;
    background: #AFC0CA;
}

.pager .paging.pagination > li > a, .pager.pagination > li > span {
    color: #337ab7;
    border: 1px solid #AFC0CA;
}

.pager .paging.pagination > li:hover > a,
.pager .paging.pagination > li:hover > span {
    background: #AFC0CA;
    color: #FFF;
}

.pager .paging.pagination > li.active:hover > a,
.pager .paging.pagination > li.active:hover > span {
    background: #AFC0CA;
    color: #FFF;
}

.pager .pagination > li {
    display: inline
}

.pager .pagination > li > a, .pager .pagination > li > span {
    position: relative;
    float: left;
    padding: 3px 8px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    .pager {
        text-align: center;
    }

    .pager .paging.pagination {
        display: inline-block;
    }

}