<footer id="footer">
    <div class="footer">
        <div class="share">
            <div class="wechat">
                <img class="w-icon" ng-click="showQrFn($event)" src="{{ "/static/img/wechat.jpg" | prepend: site.baseurl }}"/>

                <div class="animated fadeIn qrcode hide"><img
                        src="https://coding.net/static/fcdf6ecd90f6022d143a5e06fbe391b8.jpg"></div>
            </div>
            <div class="weibo">
                <a href="http://weibo.com/clouddevelopment" target="_blank">
                    <img class="w-icon" src="{{ "/static/img/weibo.jpg" | prepend: site.baseurl }}"/>
                </a>
            </div>
            <div class="zhihu">
                <a href="http://zhuanlan.zhihu.com/coding-net" target="_blank">
                    <img class="w-icon" src="https://dn-coding-net-production-pp.qbox.me/5e216900-f543-4d33-9324-3fefb210f8a1.png"/>
                </a>
            </div>
            <div class="email">
            <a href="mailto:support@coding.net">
                <img class="w-icon" src="https://coding.net/static/0b941854e5d05120d662e402b72cd1bc.jpg">
            </a>
            </div>
        </div>
        <div class="site">
            <ul>
                <li><a href="/home-desktop.html?redirect=false" target="_self">首页</a></li>
                <li><a href="/about" target="_self">关于Coding</a></li>
                <li><a href="/jobs" target="_self">招贤纳士</a></li>
                <li><a href="/terms" target="_self">服务条款</a></li>
                <li><a href="/privacy" target="_self">隐私策略</a></li>
                <li><a href="/security" target="_self">安全策略</a></li>
                <li><a href="/event" target="_self">Coding活动</a></li>
                <li><a href="http://blog.coding.net/">Blog</a></li>
                <li><a href="/app" target="_self">App</a></li>
                <li><a href="/shop" target="_self">Shop</a></li> 
                <li><a href="http://open.coding.net" target="_self">API</a></li> 
                <li><a href="http://mart.coding.net/">码市</a></li>
            </ul>
            <p>
                Copyright&nbsp;&nbsp;&copy;&nbsp;2016&nbsp;Coding.net&nbsp;&nbsp;
                <a href="http://www.miitbeian.gov.cn/" target="_blank" style="color:#999;text-decoration:none;">粤ICP备14029750号-1</a>&nbsp;&nbsp;
                粤B-20140247&nbsp;&nbsp;
                <a href="http://www.gdgs.gov.cn/" style="color:#999;text-decoration:none;">广东省工商行政管理局</a>
            </p>
        </div>
    </div>
</footer>
<a href="https://coding.net/u/coding/p/coding-docs"><div class="fork-bar">Fork</div></a>
<script>
    jQuery("#document").ready(function () {
        $(".wechat .w-icon").click(function (e) {
            var qr = $(".wechat .qrcode");
            if (qr.hasClass("hide")) {
                qr.addClass("show");
                qr.removeClass("hide");
            } else {
                qr.addClass("hide");
                qr.removeClass("show");
            }
            e.stopPropagation();
        })

        $(document).click(function () {
            var qr = $(".wechat .qrcode");
            qr.addClass("hide");
            qr.removeClass("show");
        });
    });
</script>
