---
layout: default
---

<div class="help-container">
    <div class="container-wrapper clearfix">
        {% include sidebar.html %}
        <div class="help-content">
            <form id="search-form" action="/help/search.html">
                <div class="content-header">
                    <div>
                        <div class="header-search">
                            <input name="q" type="text"/>

                            <div class="s-button" onclick="doSearch()">
                                搜索
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="content-body clearfix">
                <div class="content-wrapper">
                    <section class="document-content">
                        <div class="document-header">
                            <h3>
                                <i class="fa fa-caret-down "></i>
                                {{ .page.title }}
                            </h3>
                        </div>
                        <div class="document-body">
                            <article class="markdown">
                                {% include toc.html %}
                                {{ .content }}
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="https://coding.net/u/coding/p/Coding-Feedback/git" class="ask-help">在线求助</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top" style="display: block;">
        <a href="#branding" title="回到顶部"><img src="{{ "/static/img/super-monkey.gif" | prepend: site.baseurl }}"
            width="32"></a>
    </div>
</div>
<script >
    jQuery("#document").ready(function () {
    jQuery(".markdown pre code").each(function (i, e) {
        hljs.highlightBlock(e);
    });
});
        </script>
<script>
    jQuery(document).ready(function () {

        // hide #back-top first
        jQuery(".back-to-top").hide();

        // fade in #back-top
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 1000) {
                    jQuery('.back-to-top').fadeIn();
                } else {
                    jQuery('.back-to-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            jQuery('.back-to-top a').click(function () {
                jQuery('body,html,header').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });

    });
    var doSearch = function () {
        $("#search-form").submit();
    }
</script>
